body {
  font-size: 14px;
}
.wrapV1 {
  width: 1100px;
  margin: 0 auto;
}
.wrapV2 {
  width: 980px;
  margin: 0 auto;
}

.radio_slide {
  background: url(../img/radio_slide.png) no-repeat 0 9999px;
}
.singer_sprite {
  background: url(../img/singer_sprite.png) no-repeat 0 9999px;
}
.sprite_01 {
  background: url(../img/sprite_01.png) no-repeat 0 9999px;
}
.sprite_02 {
  background: url(../img/sprite_02.png) no-repeat 0 9999px;
}
.sprite_cover {
  background: url(../img/sprite_cover.png) no-repeat 0 9999px;
}
.sprite_icon {
  background: url(../img/sprite_icon.png) no-repeat 0 9999px;
}
.sprite_icon2 {
  background: url(../img/sprite_icon2.png) no-repeat 0 9999px;
}
.sprite_icon3 {
  background: url(../img/sprite_icon3.png) no-repeat 0 9999px;
}
.sprite_button {
  background: url(../img/sprite_button.png) no-repeat 0 9999px;
}
.sprite_button2 {
  background: url(../img/sprite_button2.png) no-repeat 0 9999px;
}
.sprite_table {
  background: url(../img/sprite_table.png);
}
.sprite_playbar {
  background: url(../img/playbar_sprite.png) no-repeat 0 9999px;
}
.sprite_playlist {
  background: url(../img/playlist_sprite.png) no-repeat 0 9999px;
}
.sprite_footer_03 {
  background: url(../img/sprite_footer_03.png) no-repeat 0 9999px;
}
.top-ranking-bg {
  background: url(../img/top-ranking-bg.png) no-repeat 0 9999px;
}
.pip_icon {
  background: url(../img/pip_icon) no-repeat 0 9999px;
}
.mine_sprite {
  background: url(../img/mine_sprite.png) no-repeat 0 9999px;
}
.friend_sprite {
  background: url(../img/friend_sprite.jpg) no-repeat 0 9999px;
}
.download_bg {
  background: url(../img/download_bg.png) no-repeat 0 9999px;
}
.icon_android {
  background: url(../img/icon_android.png) no-repeat;
}
.icon_iphone {
  background: url(../img/icon_iphone.png) no-repeat;
}
.icon_mac_iphone {
  background: url(../img/icon_mac_iphone.png) no-repeat;
}
.icon_windows {
  background: url(../img/icon_windows.png) no-repeat;
}
.icon_ncode {
  background: url(../img/icon_ncode.png) no-repeat;
}
.download_arrow {
  background: url(../img/download_arrow.png) no-repeat;
}

.ant-message {
  position: fixed;
  top: auto !important;
  bottom: 50px;

  .ant-message-notice-content {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
  }
}
