body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
tr,
td,
th,
ins {
  padding: 0;
  margin: 0;
}

body,
textarea,
select,
input,
button {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

button {
  outline: none;
  border: none;
}
